 
body {background-color: #3a3a3a;
      max-width: 700px;
      margin: auto;
      margin-top: 50px;
      margin-bottom: 50px;
      color :#ffff;
 }
.image {
    margin-left: auto;
    margin-right: auto;
}
    
 .educ {
     margin-right: auto;
     margin-left: auto;
 }
    
.perso {
    margin-right: auto;
    margin-bottom: auto;
 }
.personal {
    background-color: rgb(173, 50, 50);
 }
    
#ob {
    background-color: rgb(173, 50, 50);     
 }
    
#image {
    background-color: rgb(173, 50, 50);
 }
    
#car {
    background-color: rgb(173, 50, 50);
}
#ski {
background-color: rgb(173, 50, 50);
}
 #educa {
    background-color: rgb(173, 50, 50);
}
    
#blind {
    background-color: rgb(173, 50, 50);
}

#body {
		align-content: center;
	    position: relative;
	    text-align: left;
	    font-family: fantasy;
	    font-size: 20px;
	    text-align: justify;
	    margin-left: 100px;
	    margin-right: 100px;
	    width: 80%;
	    height: auto;
}
img {
    border: 5px solid #100;
    width: 200px;
    height: 200px;
    margin-left: auto;
}

