 
body {background-color: #525252;
      max-width: 700px;
      margin: auto;
      margin-top: 50px;
      margin-bottom: 50px;
      color :#ffff;
 }
.image {
    margin-left: auto;
    margin-right: auto;
}
    
 .educ {
     margin-right: auto;
     margin-left: auto;
 }

.perso {
    margin-right: auto;
    margin-bottom: auto;
 }
.personal {
    background-color: #CD5C5C;
 }
    
#ob {
    background-color: #CD5C5C;    
 }
    
#image {
    background-color: #CD5C5C;
 }
    
#car {
    background-color: #CD5C5C;
}
#ski {
background-color: #CD5C5C;
}
 #educa {
    background-color: #CD5C5C;
}
    
#blind {
    background-color: #CD5C5C;
}

#body {
	align-content: center;
	position: relative;
	text-align: left;
	font-family: fantasy;
	font-size: 20px;
	text-align: justify;
	margin-left: 100px;
	margin-right: 100px;
	width: 80%;
	height: auto;
}
img {
    border: 5px solid #100;
    width: 200px;
    height: 200px;
    margin-left: auto;
}

